body {
  background: url(https://i.imgur.com/166brRQ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#contentWrap {
  display: none;
}

.oldMsgs {
  color: green;
  font-family: monospace;
}

.error {
  color: red;
}

.whisper {
  color: gray;
  font-style: italic;
}
.demo{
  width:400px;
  height:400px;
  font-size:5em;
  float:left;
  text-align:center;
}

.rainbow-bg{
  animation: rainbow-bg 2.5s linear;
  animation-iteration-count: infinite;
}

.rainbow{
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

/* animations */
@keyframes colorChange {
  from {color: #FFFFFF;}
  to {color: #b30000}
}
@keyframes rainbow-bg{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}


#flechaEnviar {
		animation-name: rainbow-bg;
    animation-duration: 2s;
		animation-iteration-count: infinite;
}

#InversionesTitulo {
  font-size: 50px;
  font-family: 'ribbon131 bt';
  color: #FFFFFF;
  text-align: center;
  transition: font-size 1s;
}

#InversionesTitulo:hover {
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 70px;
}
#usernamesCard {
  position: fixed;
  top: 120px;
  left: 20px;
}
